@using NedoCms.Common.Paging
@using NedoCms.Models.Page
@using NedoCms.Common.Extensions
@{
	Layout = null;

	var meta = (IEnumerable<PageMetadataModel>)ViewBag.Metadata;
}
<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title - Demo</title>
		@foreach (var x in meta.Safe())
		{
			<meta name="@x.Key" content="@x.Value" />
		}
		<style type="text/css">
			html {
				min-width:1223px;
				background-color: #eff5f9;
				-webkit-font-smoothing: antialiased;
			}
			body {
				-webkit-text-size-adjust:none;
				padding:0 0 27px 0 !important;
				height: 800px;
			}
			body, html, p, h1, h2, h3, h4, h5, h6, img, input, select, textarea, ul, ol, form, button  {
				padding:0;
				margin:0;
				border:0;
				font-family: 'Adobe Garamond Pro', Serif, Georgia, Calibri;
				font-size:12px;
				font-weight:400;
			}
			.google-map { width: 100%;height: 500px;}
		</style>
	
		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
		
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
	</head>
	<body>
		@this.ContentSection("Body")
		@RenderBody()
	</body>
</html>
